@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    flex-flow: row wrap;
    width: 90dvw;  
    height: 90dvh;
    margin: auto;
    background-color: brown;
    border: 5px solid black;
    border-radius: 10px;
}

.square {
    height: 150px;
    width: 150px;
    background-color: blueviolet;
    color: white;
    text-shadow: 1px 4px rgba(0, 0, 0, 0.171);
    border: 5px solid black;
    border-radius: 10px;
    margin: 5px;
}

.h1Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    flex: auto;
}